header {
    height: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
}
.infotitle,.resulttitle {
    margin-left: 20px;
}
.ant-form{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.info{
    padding: 10px;
    width: 25%;  
    min-width: 305px;
}
.info label {
    display: inline-block;
    width: 30%;
}
.ant-input {
    width: 70%;
}
.ant-btn {
    width: 200px;
}
.btnbox {
    width: 100%;
}
.btnbox Button {
    margin-left: 200px;
    width: 200px;

}